html 
  head 
  
  body 
    h3 Hi there! 
    
    h5 You are received this email because you want to join our amazingly amazing community. To continue, please confirm this account. After that, you are free to have as much fun as possible. 
    
    p Click on the link below to be confirm your account: 
    a(href='${SIGNUP_URL}') CLICK HERE
      
    p Thank you! 
    
