extends base.pug 

block cssscript 
  link(rel="stylesheet", href="{{ url_for('static', filename='css/login.css') }}")

block content
  .main.container
    h1 Login
    div(id="loginAPI")
      div(v-if="errors")
        template(v-for="error in errors")
          .div(class="alert alert-danger") 
            strong ${error}  
      div(v-if='user')
        div  
          div.form-group 
            label(for='email') Email: 
              input(v-on:keypress.enter="login()" v-model="email" type="email" class="form-control" name="email" placeholder="Enter email" requried)
          div.form-group 
            label(for='password') Password: 
              input(v-on:keypress.enter="login()" v-model="password" type="password" class="form-control" name="password" placeholder="*****" required)
          div.form-check 
            label(class="form-check-label" for="checkbox") Remember me: 
              input(v-model="rememberMe" type="checkbox" class="form-check-input" name="rememberMe")
          .btn.btn-primary(v-on:click="login()") 
            span Login 
          
        div 
          div  
            .btn.btn-primary(v-on:click="redirectSignUp()") 
              span Sign up!
          div 
            .btn.btn-primary(v-on:click="resetPassword()") 
              span Reset Password! 
        //- div #{'{{ recaptcha }}'} 
        div(v-show='user.loginAttempts >= 3' id="recaptchaDIV" class="g-recaptcha" :data-sitekey="secretKey")
block jsscript
  script(type="text/javascript" src="{{ url_for('static', filename='js/login.js') }}")
