html 
  head 
  
  body 
    h5 Hi there! Someone is trying to access your account. It was either an honest mistake from someone else, or you forgot your password. We recommend using the link below to change your password.  
    
    p Click on the link below to be redirected to reset you password.
    a(href='${RESET_URL}') CLICK HERE
      
    p Thank you! 
    
