.btn {
  margin: 0.75rem 0.5rem;
}
.img-profile {
  width: 100%;
  max-width: 300px;
  max-height: 250px;
  background-color: #e9e9e9;
  border: 0;
  box-shadow: 5px 5px 25px -3px #000;
}
#mapCanvas {
  height: 350px;
  width: 100%;
  overflow: auto;
  position: fixed;
  display: block;
  z-index: 10;
}
.glyphicon-remove {
  color: #f00;
}
.ratingDefault {
  color: #000;
}
.ratingClicked {
  color: #f2d388;
}
.ratingButton {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 0;
  background: transparent;
  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
  padding: 5px;
  font-size: 2em;
  margin: 0;
}
.leftRating {
  float: left;
  width: 40%;
}
.rightRating {
  float: right;
  width: 56%;
}
.ratingButtonGroup {
  width: 100%;
  left: 5px;
}
.ratingCutlery {
  font-size: 2em;
}
label {
  font-size: 1.75rem;
}
