body {
  padding-top: 70px;
}

.groupThumbnail {
  min-height: 400px;
  position: relative;
}

.bottom {
  position:absolute;
  bottom:10px;
  left: 20px;
}

/* .glyphicon-cutlery {
  font-size: 2em;
} */

.glyphicon-remove {
  color: red;
}
.glyphicon-search {
  font-size: 1.45em;
}
.ratingDefault {
  color: black;
}

.ratingClicked {
  color: yellow;
}

.ratingButton {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    padding: 5px;

    font-size: 2em;
}

.leftRating{
  float: left;
  width: 40%;
}

.rightRating {
  float: right;
  width: 56%;
}

.ratingButtonGroup{
  width: 100%;
  left: 5px;
}

.navbar-form .input-group-btn,
.navbar-form .input-group-addon {
width: auto;
}
