extends base.pug 

block content
  .main.container
    h1 Page not found!
    h3 We are sorry, the page you are trying to access does not exist. 
    h4
      a(href="{{ url_for('home') }}") Go back to the home page. 
