extends base.pug 

block content
  .main.container
    h1 Page not found!
    h3 We are sorry, the page you are trying to access does not exist. 
    div(id='general')
      .btn.btn-primary(v-on:click='goHome()') Go home 
