extends base.pug 

block content
  h1 An unexpected error hjas occured. Lol rekt... 
  h3 The admins are hopefully onto it, but they are most likely drunk... 
  h4
    a(href="{{ url_for('home') }}") Go back home... 
