extends base.pug 

block content
  h1 An unexpected error hjas occured. Lol rekt... 
  p The admins are hopefully onto it, but they are most likely drunk... 
  p
    a(href="{{ url_for('home') }}") Go back home... 
