<!DOCTYPE html>
<html>
  <head>
    <title>Rodica 2.0</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Nova+Slim" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gentium+Basic:400,700" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js?render=explicit" async defer></script>
  </head>
  <body>
    <div class="container">
      <div id="baseAPI">
        <div v-if="User">
          <nav class="navbar navbar-default navbar-fixed-top container">
            <div class="container-fluid">
              <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span class="sr-only">Toggle Navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="{{ url_for('home') }}"><img alt="brand" v-bind:src="brandLocation" height="30px" width="auto"></a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                  <li><a href="{{ url_for('home') }}">Home</a></li>
                  <li v-if="User.id !== '-1'"><a :href="/user/+User.id">Your Profile </a></li>
                  <li v-else><a href="{{ url_for('login') }}">Login </a></li>
                  <li v-if="User.id !== '-1'"><a :href="'/user/' + User.id + '/groups'">Your Groups </a></li>
                  <li v-if="User.id !== '-1'"><a href="{{ url_for('logout') }}">Logout </a></li>
                  <li v-else><a href="{{ url_for('signup') }}">Signup </a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <div class="navbar-form navbar-left navbar-input-group">
                      <div class="form-group">
                        <input class="form-control" v-model="restaurantName" v-on:keypress.enter="searchRestaurantRedirect()" type="text" placeholder="Search existing restaurant" name="search">
                      </div>
                      <div class="btn btn-default" v-on:click="searchRestaurantRedirect()"><i class="glyphicon glyphicon-search">  </i></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>{% with messages = get_flashed_messages() %} 
{% if messages %}
        <ul>
{% for message in messages %}
           <li>{{ message }}</li>
{% endfor %}</ul>{% endif %}
{% endwith %}
      </div>
      <div>
        <div class="main container">
          <h1>Edit this group:</h1>
          <div id="editGroupAPI">
            <div v-if="errors">
              <template v-for="error in errors">
                <div class="div alert alert-danger"> <strong>${error} </strong></div>
              </template>
            </div>
            <div v-if="group">
              <div class="row">
                <div class="btn btn-primary" v-on:click="goBackGroup()">Go back</div>
              </div>
              <div class="row"> 
                <div class="btn btn-primary" v-on:click="redirectPendingUsers()">Pending Users <span class="badge" v-if="group.pendingUsers &gt; 0">${group.pendingUsers}</span></div>
                <div class="btn btn-primary" v-on:click="redirectPendingRestaurants()">Pending Restaurants <span class="badge" v-if="group.pendingRestaurants &gt; 0">${group.pendingRestaurants}</span></div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-sm-12">   
                  <div class="form-group"> 
                    <label for="name">Name: 
                      <input class="form-control" v-model="name" type="text" name="name" required>
                    </label>
                  </div>
                  <div class="form-group"> 
                    <label for="aboutGroup">About group: 
                      <textarea class="form-control" v-model="aboutGroup" rows="5" cols="50" name="aboutGroup"></textarea>
                    </label>
                  </div>
                  <div class="form-group"> 
                    <label for="avatarImage">Change profile picture: 
                      <input type="file" name="file" @change="onFileChange">
                    </label>
                  </div>
                  <button class="btn btn-primary" v-on:click="sendUpdate()">Submit changes</button>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <h4>Make admins</h4>
                  <template v-for="user in group.users">
                    <div class="row" v-if="!user.isAdmin">
                      <div class="col-lg-2"><img class="img-rounded img-responsive" v-bind:src="'../' + user.mediaPath" width="75" height="auto"></div>
                      <div class="col-lg-4">
                        <input type="checkbox" :id="user.id" :value="user.id" v-model="checkedIDs">
                        <label for="user.id">${user.nickname}, ${user.email}</label>
                      </div>
                    </div>
                  </template>
                </div>
              </div>
              <div class="row"> 
                <button class="btn btn-danger" v-on:click="kickPeople()">Remove people from group</button>
                <template v-for="user in group.users">
                  <div class="row" v-if="!user.isAdmin">
                    <div class="col-lg-2"><img class="img-rounded img-responsive" v-bind:src="'../' + user.mediaPath" width="75" height="auto"></div>
                    <div class="col-lg-4">
                      <input type="checkbox" :id="user.id" :value="user.id" v-model="kickIDs">
                      <label for="user.id">${user.nickname}, ${user.email}</label>
                    </div>
                  </div>
                </template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5KdA5p-EG13w5-L6g-IiXjMI-_9zyacc"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>
    <div> 
      <script type="text/javascript" src="{{ url_for('static', filename='js/group.js') }}"></script>
    </div>
  </body>
</html>