html
  head 
  
  body 
    h3 Hi there! 
    h5 One of the groups you are an admin for has updates that require your attention. 
    h5 The group #[strong ${GROUP_NAME}] requires your attention. 
      a(href='${GROUP_PATH}') Click here to update. 
      
    
    h5 Thank you! 
