extends base.pug 

block content
  .main.container
    h1 Login
    div(id="loginAPI")
      form(action='' name='login' method='POST' v-on:submit.prevent="login()") 
        div.form-group 
          label(for='email') Email: 
            input(v-model="email" type="email" class="form-control" name="email" placeholder="Enter email" requried)
        div.form-group 
          label(for='password') Password: 
            input(v-model="password" type="password" class="form-control" name="password" placeholder="*****" required)
        div.form-check 
          label(class="form-check-label" for="checkbox") Remember me: 
            input(v-model="rememberMe" type="checkbox" class="form-check-input" name="rememberMe")
        button.btn.btn-primary(type='submit') Login 
        div(v-if="errors")
          template(v-for="error in errors")
            .div(class="alert alert-danger") 
              strong ${error}  
        
      div Not Signed up? 
        a(href="{{ url_for('signup') }}") Do it now!
