extends base.pug 

block content
  .main.container
    h1 Login
    div(id="loginAPI")
      div(v-if="errors")
        template(v-for="error in errors")
          .div(class="alert alert-danger") 
            strong ${error}  
      div  
        div.form-group 
          label(for='email') Email: 
            input(v-on:keypress.enter="login()" v-model="email" type="email" class="form-control" name="email" placeholder="Enter email" requried)
        div.form-group 
          label(for='password') Password: 
            input(v-on:keypress.enter="login()" v-model="password" type="password" class="form-control" name="password" placeholder="*****" required)
        div.form-check 
          label(class="form-check-label" for="checkbox") Remember me: 
            input(v-model="rememberMe" type="checkbox" class="form-check-input" name="rememberMe")
        button.btn.btn-primary(v-on:click="login()") Login 
        
      div 
        div  
          .btn.btn-primary(class='icon-btn' v-on:click="redirectSignUp()") 
            i(class='btn-glyphicon glyphicon glyphicon-plus img-circle text-success') 
            span Sign up!
        div 
          .btn.btn-primary(class='icon-btn' v-on:click="resetPassword()") 
            i(class='btn-glyphicon glyphicon glyphicon-lock img-circle text-success') 
            span Reset Password! 
      div #{'{{ recaptcha }}'} 
block jsscript
  script(type="text/javascript" src="{{ url_for('static', filename='js/login.js') }}")
