extends base.pug 

block content
  .main.container
    h1 Reset your password
    div(id='passwordReset')
      div(v-if="errors")
        template(v-for="error in errors")
          .div(class="alert alert-danger") 
            strong ${error}  
            
      
      div(v-if='this.response.expired')
        h2 The reset period has expired. Please try again to login. 
      div(v-else-if='this.response.logged')
        h2 You are already logged in. 
      div(v-else)
        div.form-group 
          label(for='password') New password: 
            input(v-on:keypress.enter="resetPWD()" v-model="password" type="password" class="form-control" name="password" placeholder="*****" required)
        div.form-group 
          label(for='password') Confirm new password: 
            input(v-on:keypress.enter="resetPWD()" v-model="confpwd" type="password" class="form-control" name="confpwd" placeholder="*****" required)      
        button.btn.btn-primary(v-on:click="resetPWD()") Reset Password 
      


block jsscript 
  script(type="text/javascript" src="{{ url_for('static', filename='js/passwordReset.js') }}")
  
