extends base.pug 

block content
  .main.container
      h1 Edit pending users
      div(id='pendingUserAPI')
        div(v-if="errors")
          template(v-for="error in errors")
            .div(class="alert alert-danger") 
              strong ${error}  
        div(v-if="confirmations")
          template(v-for="conf in confirmations")
            .div(class="alert alert-success") 
              strong ${conf}    
        .row 
          .btn.btn-primary(v-on:click="redirectGroup()") Go back to group
        div(v-if='users.length > 0')
          .row 
            div
              .btn.btn-primary(v-on:click='addChecked()') Add checked 
              .btn.btn-danger(v-on:click='removeChecked()') Remove checked
              template.row(v-for="user in users")
                .row
                  label(:for="user.id")
                    .col-lg-4
                      img.img-rounded.img-responsive(v-bind:src="'../../../' + user.mediaPath" height="auto"  width="200")
                    .col-lg-4
                      h4 ${user.nickname} 
                    input(type="checkbox" :id="user.id" :value="user.id" v-model="checkedUsers")
                  
        div(v-else)
          h3 No pending users to this group. 
    
block jsscript 
  script(type="text/javascript" src="{{ url_for('static', filename='js/pendingUser.js') }}")
