html 
  head 
  
  body 
    h5 Hi there! You are received this email because you requested a password reset or you forgot it. If you did not request this, please disregard. 
    
    p Click on the link below to be redirected to reset you password.
    a(href='${RESET_URL}') CLICK HERE
      
    p Thank you! 
    
