extends base.pug 

block content
  .main.container
    div(id='restaurantAPI')
      div(v-if="errors")
        template(v-for="error in errors")
          .div(class="alert alert-danger") 
            strong ${error} 
      div(v-if='restaurant')
        .row 
          .col-md-8
            img.img-rounded.img-responsive.img-thumbnail(:src="restaurant.mediaPath" width="750" height="auto") 
        .row 
          .col-md-8
            .row 
              h1 ${restaurant.name}
            .row
              h3(v-if="restaurant.aboutMe !== 'None'") ${restaurant.aboutMe}  
            .row 
              .btn.btn-info(v-on:click="redirectWebsite()") Visit restaurant page
        .row
          div.form-group 
            label(for="review") Add a review
              textarea(v-model='userReview' rows='5' cols='100' placeholder='What have you thought about this place? ...' class='form-control' name='review')
          .btn.btn-info(v-on:click='submitReview()') Submit Review
          
block jsscript 
  script(type="text/javascript" src="{{ url_for('static', filename='js/restaurant.js') }}")
    
