<!DOCTYPE html>
<html>
  <head>
    <title>Rodica 2.0</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Nova+Slim" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gentium+Basic:400,700" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js?render=explicit" async defer></script>
  </head>
  <body>
    <div class="container">
      <div id="baseAPI">
        <div v-if="User">
          <nav class="navbar navbar-default navbar-fixed-top container">
            <div class="container-fluid">
              <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span class="sr-only">Toggle Navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="{{ url_for('home') }}"><img alt="brand" v-bind:src="brandLocation" height="30px" width="auto"></a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                  <li><a href="{{ url_for('home') }}">Home</a></li>
                  <li v-if="User.id !== '-1'"><a :href="/user/+User.id">Your Profile </a></li>
                  <li v-else><a href="{{ url_for('login') }}">Login </a></li>
                  <li v-if="User.id !== '-1'"><a :href="'/user/' + User.id + '/groups'">Your Groups </a></li>
                  <li v-if="User.id !== '-1'"><a href="{{ url_for('logout') }}">Logout </a></li>
                  <li v-else><a href="{{ url_for('signup') }}">Signup </a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li v-if="User.id !== '-1'">
                    <div class="navbar-form navbar-left navbar-input-group">
                      <div class="form-group">
                        <input class="form-control" v-model="restaurantName" v-on:keypress.enter="searchRestaurantRedirect()" type="text" placeholder="Search existing restaurant" name="search">
                      </div>
                      <div class="btn btn-default" v-on:click="searchRestaurantRedirect()"><i class="glyphicon glyphicon-search">  </i></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>{% with messages = get_flashed_messages() %} 
{% if messages %}
        <ul>
{% for message in messages %}
           <li>{{ message }}</li>
{% endfor %}</ul>{% endif %}
{% endwith %}
      </div>
      <div>
        <div class="main container">
          <div id="restaurantAPI">
            <div v-if="errors">
              <template v-for="error in errors">
                <div class="div alert alert-danger"> <strong>${error} </strong></div>
              </template>
            </div>
            <div v-if="restaurant">
              <div class="col-md-8 col-sm-8 col-xs-8">
                <div class="row"> <img class="img-rounded img-responsive img-thumbnail" :src="extension + restaurant.mediaPath" width="750" height="auto"></div>
                <div class="row"> 
                  <div class="row"> 
                    <h1 v-if="restaurant.rating !== -1">${restaurant.name} (${restaurant.rating}<i class="glyphicon glyphicon-cutlery"></i>)</h1>
                    <h1 v-else>${restaurant.name}</h1>
                  </div>
                  <div class="row">
                    <h3 v-if="restaurant.aboutMe !== 'None'">${restaurant.aboutMe}  </h3>
                  </div>
                  <div class="row"> 
                    <div class="btn btn-info" v-on:click="redirectWebsite()">Visit restaurant page</div>
                    <div v-if="restaurant.details">
                      <h5 v-if="restaurant.details.phoneNumber &amp;&amp; restaurant.details.phoneNumber !== &quot;None&quot;">Phone number: ${restaurant.details.phoneNumber} </h5>
                      <h5 v-if="restaurant.details.address &amp;&amp; restaurant.details.address !== &quot;None&quot;">Address: ${restaurant.details.address}</h5>
                      <h5 v-if="restaurant.details.workingHours &amp;&amp; restaurant.details.workingHours !== &quot;None&quot;">Working hours: ${restaurant.details.workingHours}</h5>
                      <h5 v-if="restaurant.details.priceRange &amp;&amp; restaurant.details.priceRange !== &quot;None&quot;">Prince range: ${restaurant.details.priceRange}</h5>
                      <h5 v-if="restaurant.details.tags &amp;&amp; restaurant.details.tags !== &quot;None&quot;">Cuisine : 
                        <ul class="ulInline">
                          <template v-for="tag in restaurant.details.tags">
                            <li class="liInline">${tag}</li>
                          </template>
                        </ul>
                      </h5>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group"> 
                    <label for="review">Add a review
                      <textarea class="form-control" v-model="userReview" rows="5" cols="100" placeholder="What have you thought about this place? ..." name="review"></textarea>
                    </label>
                  </div>
                  <div class="btn btn-info" v-on:click="submitReview()">Submit Review</div>
                </div>
                <div class="row" v-if="reviews.length !== 0">
                  <template v-for="review in reviews">
                    <div class="thumbnail" id="reviewThumbnail">
                      <div class="col-md-3 col-sm-3 col-xs-3"><img class="img-responsive img-thumbnail" v-bind:src="extension + review.mediaPath" id="reviewUserImage">
                        <h4 v-if="review.rating &gt; -1">${review.rating} <i class="glyphicon glyphicon-cutlery"></i></h4>
                        <p>${review.date}</p>
                      </div>
                      <div class="col-md-9 col-sm-9 col-xs-9"> 
                        <div class="row"> 
                          <h3><strong>${review.nickname}</strong></h3>
                        </div>
                        <div class="row"> 
                          <p>${review.review}</p>
                        </div>
                      </div>
                    </div>
                  </template>
                </div>
                <div class="row" v-else>
                  <h4>No current reviews. </h4>
                </div>
              </div>
              <div class="col-md-4">
                <div v-if="restaurant.details &amp;&amp; restaurant.details.lon &amp;&amp; restaurant.details.lon !== &quot;None&quot;">
                  <div id="map"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5KdA5p-EG13w5-L6g-IiXjMI-_9zyacc"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>
    <div> 
      <script type="text/javascript" src="{{ url_for('static', filename='js/restaurant.js') }}"></script>
    </div>
  </body>
</html>